[Interface]
Address = {{ awg_server_ip }}/24
ListenPort = {{ awg_listen_port }}
PrivateKey = {{ awg_server_priv }}
Jc = {{ awg_jc }}
Jmin = {{ awg_jmin }}
Jmax = {{ awg_jmax }}
S1 = {{ awg_s1 }}
S2 = {{ awg_s2 }}
H1 = {{ awg_h1 }}
H2 = {{ awg_h2 }}
H3 = {{ awg_h3 }}
H4 = {{ awg_h4 }}

[Peer]
PublicKey = {{ awg_client_pub }}
AllowedIPs = {{ awg_client_ip }}/32
