flush ruleset

table inet filter {
    set ru_domains {
        type ipv4_addr
        flags timeout
        timeout 1h
    }

    chain prerouting {
        type filter hook prerouting priority mangle; policy accept;
        iifname "{{ awg_interface }}" tcp dport 853 reject with tcp reset
        iifname "{{ awg_interface }}" ip daddr @ru_domains meta mark set 0x100
    }

    chain forward {
        type filter hook forward priority filter; policy accept;
        tcp flags syn tcp option maxseg size set rt mtu
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        meta mark 0x100 oifname "{{ default_interface }}" masquerade
        oifname "{{ mesh_interface }}" masquerade
    }
}
