bind 127.0.0.1:53
bind {{ awg_server_ip }}:53

cache-size 65536
cache-persist yes
cache-file /var/cache/smartdns.cache
rr-ttl-min 300
rr-ttl-max 86400
serve-expired yes
serve-expired-ttl 86400

speed-check-mode tcp:443,ping
force-AAAA-SOA yes

server 77.88.8.8 -group domestic -exclude-default-group
server 77.88.8.1 -group domestic -exclude-default-group
server 195.208.4.1 -group domestic -exclude-default-group

server-https https://cloudflare-dns.com/dns-query -group oversea
server-https https://dns.google/dns-query -group oversea
server-tls 1.1.1.1:853 -group oversea

nameserver /.ru/domestic
nameserver /.xn--p1ai/domestic
nameserver /.su/domestic
nameserver /.yandex.net/domestic
nameserver /.vk.com/domestic
nameserver /.dzen.ru/domestic
nameserver /.gosuslugi.ru/domestic

nftset /.ru/4#inet#filter#ru_domains
nftset /.xn--p1ai/4#inet#filter#ru_domains
nftset /.su/4#inet#filter#ru_domains
nftset /.yandex.net/4#inet#filter#ru_domains
nftset /.vk.com/4#inet#filter#ru_domains
nftset /.dzen.ru/4#inet#filter#ru_domains
nftset /.gosuslugi.ru/4#inet#filter#ru_domains
